/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: white;
}   

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}


/* Header */
header{
    width: 100%;
    padding: 15px 10px;
    background: #09134d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}

header nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

/* Hero Section */
.hero {
    background: url('./image/1747797027217.jpg') no-repeat center center/cover;
    color: whitesmoke;
    text-align: center;
    padding: 400px 20px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #e68a00;
}

/* About Section */
.about {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

.departments {
  background:#09134d;
  padding: 80px 20px;
  color: #fff;
}

.dept-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.departments h2 {
  font-size: 42px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 60px;
}

.dept-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.dept-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 35px 25px;
  transition: all 0.35s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.dept-card:hover {
  transform: translateY(-12px) scale(1.03);
  background: rgba(0, 123, 255, 0.15);
}

.dept-card .icon {
  font-size: 45px;
  margin-bottom: 15px;
}

.dept-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #4da3ff;
}

.dept-card p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.9;
}
footer {
    background-color: rgb(3, 3, 65);
    color: #fff;
    text-align: center;
    padding: 2% 0;
}

footer h2 {
    margin-bottom: 5px;
}

footer p {
    margin-bottom: 5px;
}
footer {
    background-color: rgb(3, 3, 65);
    color: #fff;
    text-align: center;
    padding: 2% 0;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
} 
footer {
    background-color: rgb(3, 3, 65);
    color: #fff;
    text-align: center;
    padding: 2% 0;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
